<main class = "content">
    <h1 class = "error-title">Error 404</h1>
    <h2 class = "description">The page you are trying to access cannot be found. </h2>
    <h2 class = "description">You can navigate back to the main pages using the links above.</h2>
</main>
