<main class = "content">
    <h1 class="page-title">About Online Chess App:</h1>
    <h2 class="description">Created for CS 290 at Oregon State University.</h2>
    <h2 class="description">Contributors: </h2>
        <ul class = "info-box">
            <li>Riley Elwell</li>
            <li>Andrew Chester</li>
            <li>Darren Garnett</li>
            <li>Daniel Mendes</li>
        </ul>
    <h2 class="description">Chess functionality created with Unity.</h2>
</main>
