<main class = "content">
    <h1 class="page-title">How to use the site:</h1>
    <ul class = "info-box">
        <li>Use the navbar to move between pages.</li>
        <li>Interact with the box in the center of the chess page to start a game.</li>
        <li>Warning: the current game will be reset upon reloading the page or navigating away from it.</li>
    </ul>
    <h1 class="page-title">How to play:</h1>
    <ol class = "info-box">
        <li>Click on a piece to select it. (White makes the first move)</li>
        <li>The highlights show which moves can currently be done with that piece:</li>
            <ul>
                <li>A red highlight around a tile indicates that you would capture an opposing piece upon moving the selected piece to that tile.</li>
                <li>A yellow highlight indicates any other possible move with the selected piece.</li>
                <li>If no tiles are highlighted, then the selected piece can not currently move due to allied pieces and/or the edges of the board obstructing its movement.</li>
            </ul>
        </li>
        <li>The black and white pieces take turns moving.</li>
        <li>The game ends when the king of either side is captured.</li>
        <li>Variations from common chess implementation:
            <ul>
                <li>Putting an opposing king in check does not inhibit that side's potential moves.</li>
                <li>The game does not end at the point when a king is unable to escape capture, the king must be physically taken by another piece to end the game.</li>
                <li>Pawns are unable to promote to a higher piece when reaching the opposite end of the board from where they started.</li>
                <li>Castling is not a possible move.</li>
            </ul>
        </li>
    </ol>
</main>